<a href="https://colab.research.google.com/github/Amazinghulk/Tech1200/blob/main/TECH1200week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
grades_set = {35, 50, 65, 85, 85, 85}
print(grades_set)

{65, 50, 35, 85}

In [38]:
alist=[0,1,2,3,4,5,6,7,8]
print(alist[-6:-8])

[]

In [35]:
gradebook=[['jing',35],['kim',50],['kerrie',65],['rakesh',85],]
print(gradebook[0][1])
print(gradebook[-4][-1])

35
35

In [27]:
list=[1,2,3,4,3]
del list[2]
print(list)

[1, 2, 4, 3]

In [25]:
list=[1,2,3,4]
list.pop(3)
print(list)

[1, 2, 3]

In [23]:
list=[1,2,3,4,5]
list.remove(4)
print(list)

[1, 2, 3, 5]

In [17]:
list="abcs"
print(len(list))

4

In [16]:
list=["2","2","3","4","6","7","8","6"]
print(list)
print(list[-4])
print(list[-5])
print(list[2])

['2', '2', '3', '4', '6', '7', '8', '6']
6
4
3

In [6]:
sports=["basketball","soccer","tennis","cricket"]
print(sports)
print(sports[-3])

['basketball', 'soccer', 'tennis', 'cricket']
soccer

In [4]:
student_Names = ["nav","sah","ken"]
print(student_Names)
print(student_Names[2])

['nav', 'sah', 'ken']
ken