<a href="https://colab.research.google.com/github/Amazinghulk/Tech1200/blob/main/tech_1200_python_week_1_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n1=int(input("Enter the first number"))
n2=int(input("Enter the second number"))
operators=input("+,-,*,/")
if operators=="+":
 print(n1+n2)
elif operators=="-":
 print(n1-n2)
elif operators=="*":
 print(n1*n2)
elif operators=="/":
 print(n1/n2)
else:
  print("Enter the correct operator")

Enter the first number1
Enter the second number1
+,-,*,/-
0

In [ ]:
n=int(input("value entered by user"))
if n == 30:
 print("value of the variable is equal to 30")
else:
 print("value of the variable is not equal to 30")

value entered by user20
value of the variable is not qual to 30

In [ ]:
'hello'+'world'

'helloworld'

In [ ]:
distance = 100
distance += 5
print(distance)

105

In [ ]:
a = "2**4"
print(a)
print(type(a))

2**4
<class 'str'>

In [ ]:
numerator = 88
denomenator = 88
result = numerator / denomenator
print(result)

1.0

In [ ]:
a = "sahith is a good boy"

b = "suresh is a good boy"
print(a+"*"*5+b)

sahith is a good boy*****suresh is a good boy

In [ ]:
variable_name = "World"
print("Hello" + variable_name + "!")

HelloWorld!

In [ ]:
a = "122"
print(type(a))

<class 'str'>

In [ ]:
name = "namuni"
age = 23
print(type(name))
print(type(age))

<class 'str'>
<class 'int'>

In [ ]:
variable= 200.22
variable = 200
print(variable)

200

In [ ]:
country = "japan"
print("osaka is the capital state of" , country)
print("mumi is the capital model of" +  country )

osaka is the capital state of japan
mumi is the capital model ofjapan

In [ ]:
variable = "python is awsome"
print(variable)

python is awsome

In [ ]:
name = "sahith"
age = 25
size = 8.76

print(name)
print(type(name))

print(age)
print(type(age))

sahith
<class 'str'>
25
<class 'int'>